@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');

  .app-toolbar__nav-button--selected {
    background-color: mat.get-contrast-color-from-palette($primary-palette, 50) !important;
    color: mat.get-color-from-palette($primary-palette, 600) !important;;
  }

  .stw-banner {
    background: mat.get-color-from-palette($primary-palette, 600);
  }

  .stw-banner__title {
    color: mat.get-contrast-color-from-palette($primary-palette, 50);
  }

  .stw-instructions__instruction .instruction__content mat-icon,
  .stw-instructions__instruction .bold {
    color: mat.get-color-from-palette($primary-palette, 600);
  }

  .stw-support {
    background: mat.get-color-from-palette($primary-palette, 600);
  }

  .stw-support {
    color: mat.get-contrast-color-from-palette($primary-palette, 50);
  }
}

