<div class="stw-instructions">
  <h2>How Simple Timer for WatchOS Works</h2>
  <div class="stw-instructions__instruction">
    <h3>Step 1</h3>
    <div class="instruction__content">
      <mat-icon>swap_vert</mat-icon>
      <span>Increase or decrease the timer duration by tapping <span class="bold">+15s</span> or <span class="bold">-15s</span></span>
    </div>
  </div>
  <div class="stw-instructions__instruction">
    <h3>Step 2</h3>
    <div class="instruction__content">
      <mat-icon>touch_app</mat-icon>
      <span>Single tap the watch face to start the timer.  If the timer is already running, single tap to stop the timer</span>
    </div>
  </div>
  <div class="stw-instructions__instruction">
    <h3>Step 3</h3>
    <div class="instruction__content">
      <mat-icon>vibration</mat-icon>
      <span>After the timer duration has passed, the watch will vibrate and the timer will reset</span>
    </div>
  </div>
  <div class="stw-instructions__instruction">
    <h3>Reset Time</h3>
    <div class="instruction__content">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset the timer at any time by double tapping the watch face</span>
    </div>
  </div>
</div>
