<div class="stw-privacy-policy">
  <div class="stw-privacy-policy__content">
    <h2>PRIVACY POLICY</h2>
    <p>We strongly support your right to privacy when using our apps.</p>
    <p>To that extent, our apps collect no data or personal information. Settings and configuration information is stored
      locally on your device. If you choose to save Health data to your device it is never shared with us.</p>
    <p>We do not have any tracking or analytics in our apps. How you use our apps is completely private.</p>
  </div>
</div>
