<mat-toolbar color="primary" class="mat-elevation-z6">
  <img
    class="stw-logo"
    ngSrc="assets/simple-timer-icon-foreground.png"
    [width]="48"
    [height]="48"
  />
  <nav>
    <a mat-button
      *ngFor="let section of _sections$ | async"
      class="app-toolbar__nav-button"
      routerLinkActive="app-toolbar__nav-button--selected"
      [routerLink]="section.link"
      [ariaCurrentWhenActive]="_activeSection === section.id"
    >
      {{ section.title }}
    </a>
  </nav>
</mat-toolbar>
