<mat-toolbar color="primary" class="mat-elevation-z6">
  <img
    class="stw-logo"
    ngSrc="assets/simple-timer-icon-foreground.png"
    [width]="48"
    [height]="48"
  />
  <nav>
    <a
      mat-button
      class="app-toolbar__nav-button"
      routerLink="/"
      routerLinkActive="app-toolbar__nav-button--selected"
      ariaCurrentWhenActive="page"
    >
      Home
    </a>
    <a
      mat-button
      class="app-toolbar__nav-button"
      routerLink="/support"
      routerLinkActive="app-toolbar__nav-button--selected"
      ariaCurrentWhenActive="page"
    >
      Support
    </a>
  </nav>
</mat-toolbar>
