:host {
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.stw-home-screen {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

stw-toolbar {
  z-index: 100;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.home-screen__content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  margin-top: 64px;
}

.small-form .home-screen__content {
  margin-top: 56px;
}
